# R Tidy Tuesday: Ask A Manager Survey (2021-05-18)

In [1]:
# libraries
import numpy as np
import pandas as pd

In [3]:
# get data
survey = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-05-18/survey.csv')

In [4]:
# tidy data
survey

,timestamp,how_old_are_you,industry,job_title,additional_context_on_job_title,annual_salary,other_monetary_comp,currency,currency_other,additional_context_on_income,country,state,city,overall_years_of_professional_experience,years_of_experience_in_field,highest_level_of_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26227,5/17/2021 17:42:33,25-34,Media & Digital,Senior Reporter,Trade publication,85000,2000.0,USD,NaN,NaN,USA,New York,New York City,5-7 years,5-7 years,College degree,Woman,White
26228,5/17/2021 17:46:38,35-44,Nonprofits,Production and Workflow Manager,NaN,40000,NaN,USD,NaN,NaN,USA,Pennsylvania,Pittsburgh,11 - 20 years,2 - 4 years,College degree,Woman,Asian or Asian American
26229,5/17/2021 17:47:30,25-34,Computing or Tech,Chief of Staff,NaN,148000,29000.0,USD,NaN,NaN,USA,California,Bay Area,11 - 20 years,11 - 20 years,Master's degree,Woman,White
26230,5/17/2021 18:20:07,25-34,"Marketing, Advertising & PR",Digital Marketing Manager,"Small agency. I manage a team of ~15 people, b...",65000,5000.0,USD,NaN,NaN,United States,Washington,Seattle,2 - 4 years,2 - 4 years,College degree,Woman,White
26231,5/17/2021 19:48:52,35-44,Law,Knowledge Management Manager,NaN,146192,3850.0,USD,NaN,NaN,United States,Michigan,Troy,11 - 20 years,8 - 10 years,Master's degree,Woman,White